<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="bower_components/dropzone/dist/min/dropzone.min.css">
        
        <style>
        table.main {
            width:100%;
            height:100%;
        }

        .list-panel {
            width: 65%;

            
            padding: 10px 25px 1px 50px;
            overflow-x: hidden;
            vertical-align: top;
            text-align: left;
        }
        .edit-panel {
            padding: 14px 15px 16px 25px;
            width: 35%;
            vertical-align: top;
            background: #f5f5ff;
            border-left: 1px solid #e5e5ee;
        }
        table.question-row {
            width: 100%;
            white-space: nowrap; 
            table-layout: fixed;
        }
        table.question-row td {
            overflow: hidden; 
            text-overflow: ellipsis;
        }
        table.question-row tr.active {
            border-bottom: 2px solid #C0C0FB;
        }


        /*Dropzone*/
        .dropzone {
            border: 2px dashed #0087F7;
            border-radius: 5px;
            background: white;
            min-height: 100px;
        }
        </style>

        <title>Touch Quiz</title>
    </head>
    <body>
        <!-- Main -->
        <table class="main" id="app">
            <tbody>
                <tr>
                    <td class="list-panel">
                        <!-- Question List -->
                        <table class="table table-bordered question-row">
                            <thead>
                                <tr>
                                    <th>Levels</th><th>Question</th><th>Answer</th><th>Choice</th><th>Choice</th><th>Choice</th>
                                </tr>
                            </thead>
                            <tbody class='question-list'>
                                
                                <tr is="question-item"
                                    v-for="q in questions"
                                    v-bind:question="q"
                                    v-bind:levels="levels"
                                    v-bind:key="q.text"
                                    v-bind:class="[ selectedQuestion === q ? 'active' : '' ]"
                                    v-on:click.native="selectToEdit(q, $event)">
                                </tr>
                                
                            </tbody>
                        </table>

                        <button id="add-button" class="btn btn-default" v-on:click="add" v-bind:class="{ hidden: !isEditing }">Add</button>
                    </td>
                    <td class="edit-panel">
                        <!-- Question Edit -->
                        <span class="label pull-right" v-bind:class="[ isEditing ? 'label-primary': 'label-success' ]">{{ isEditing ? 'Edit Mode': 'Add Mode'}}</span>
                        <question-edit
                            v-bind:question="editingQuestion"
                            v-bind:levels="levels">
                        </question-edit>

                        <button id="save-button" class="btn btn-default" v-on:click="save" v-bind:class="{ hidden: isEditing }">Save</button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <!-- Templates -->
        <script type='text/x-template' id='question-view-template'>
            <tr>
                <td><span class="level1 label label-primary">{{ level1.code }}</span> <span v-if="level2" class="level2 label label-success">{{ level2.code }}</span> <span v-if="level3" class="level3 label label-info">{{ level3.code }}</span></td>
                <td>{{ question.text }}</td><td>{{ question.choice1 }}<td>{{ question.choice2 }}</td><td>{{ question.choice3 }}</td><td>{{ question.choice4 }}</td>
            </tr>
        </script>


        
        <script type='text/x-template' id='question-edit-template'>
        <div>
            <div class="form-group">
                <label for="level1">Level 1</label>
                <select name="level_1" id="level1" v-model="question.level1_id" v-on:change="question.level2_id = null; question.level3_id = null">
                    <option disabled value="">Please select a level 1</option>
                    <option v-for="level1 in levels.level1s" v-bind:value="level1.id">{{ level1.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="level2">Level 2</label>
                <select name="level_2" id="level2" v-model="question.level2_id" v-on:change="question.level3_id = null">
                    <option disabled value="">Please select a level 2</option>
                    <option v-for="level2 in possibleLevel2s" v-bind:value="level2.id">{{ level2.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="level3">Level 3</label>
                <select name="level_3" id="level3" v-model="question.level3_id">
                    <option disabled value="">Please select a level 3</option>
                    <option v-for="level3 in possibleLevel3s" v-bind:value="level3.id">{{ level3.name }}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="question">Question</label>
                <textarea class="form-control" id="question" rows="3" v-model="question.text"></textarea>
            </div>
            <div class="form-group">
                <label for="choice1">Answer</label>
                <input type="text" class="form-control" id="choice1" v-model="question.choice1">
            </div>
            <!--
            <label for="my-awesome-dropzone">Images</label>
            <form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
            -->
            <div class="form-group">
                <label for="choice2">Choice</label>
                <input type="text" class="form-control" id="choice2" v-model="question.choice2">
            </div>
            <div class="form-group">
                <label for="choice3">Choice</label>
                <input type="text" class="form-control" id="choice3" v-model="question.choice3">
            </div>
            <div class="form-group">
                <label for="choice4">Choice</label>
                <input type="text" class="form-control" id="choice4" v-model="question.choice4">
            </div>
            
        </div>
        </script>

        <script src="vue.js"></script> <!-- Development version with warnings -->
        <script src="bower_components/vue-ls/dist/vue-ls.js"></script> <!-- Local Storage https://www.npmjs.com/package/vuejs-local-storage -->
        <script src="bower_components/dropzone/dist/min/dropzone.min.js"></script>
        <script src="touchquiz-vue.js"></script>

    </body>
</html>